.chart-desc {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  .title-font {
    font-size: 10px;
  }

  .font {
    font-size: 11px;
    @media only screen and (max-width: 1400px) {
      font-size: 10px;
    }
    @media only screen and (max-width: 479px) {
      font-size: 8px;
    }
  }

  .sub-font {
    font-size: 8px;
  }

  .line-chart {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .l-chart-desc {
    width: 27%;
    float: left;
    @media only screen and (max-width: 1700px) {
      width: 30%;
    }
    @media only screen and (max-width: 1430px) {
      width: 32%;
    }
    @media only screen and (max-width: 1000px) {
      width: 32%;
    }
    @media only screen and (max-width: 479px) {
      width: 32%;
    }
  }
  .l-chart {
    width: 74%;
    float: left;
    border-left: 1px solid #bab8b8;
    margin-bottom: 3px;
    @media only screen and (max-width: 1700px) {
      width: 70%;
    }
    @media only screen and (max-width: 1430px) {
      width: 68%;
    }
    @media only screen and (max-width: 1000px) {
      width: 68%;
    }
    @media only screen and (max-width: 479px) {
      width: 66%;
    }
  }
  .l-chart-point{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    span{
      padding-left: 20px;
      @media only screen and (max-width: 1400px) {
        padding-left: 10px;
      }
      @media only screen and (max-width: 479px) {
        padding-left: 5px;
      }
    }
  }
  .c-icon {
    line-height: 55px;
  }
  .share-chart {
    padding-top: 5px;
    border-top: 1px solid #bab8b8;
    display: flex;
    flex-wrap: wrap;
  }
  .post-img img {
    border-radius: 10px;
    max-width: 100%;
  }
  .chart-cont {
    border: 1px solid #616161;
    padding: 10px;
    border-radius: 10px;
    @media only screen and (max-width: 479px) {
      padding: 5px;
    }
  }
  .chart-lh{
    @media only screen and (max-width: 1800px) {
      overflow: scroll;
      width: auto !important;
    }
  }
  .v-social{
    width: 14.1666%;
  }
  .img-item {
    padding-right: 10px;
  }
}

.site-visitors{
  .chart-title{
    color: #616161;
    margin: 15px 0 25px 0;
    font-weight: 600;
    font-size: 24px;
    @media only screen and (max-width: 959px) {
      text-align: center;
      padding: 0;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .site-chart-desc {
    border: 1px solid #616161;
    border-radius: 15px;
    width: auto;
    margin: 0;
    .chart-icon {
      display: inline-block;
      vertical-align: top;
      svg {
        font-size: 60px;
        @media only screen and (max-width: 1199px) {
          font-size: 40px;
        }
      }
    }
    .icon-desc{
      display: inline-block;
    }
    .recharts-wrapper {
      border-left: 1px solid #656565;
      @media only screen and (max-width: 599px) {
        border-left: 0;
      }
    }
  }
  .l-chart-desc {
    margin-bottom: 20px;
    @media only screen and (max-width: 599px) {
      text-align: center;
    }
  }
  .site-btn{
    @media only screen and (max-width: 599px) {
      text-align: center;
    }
    .st-btn{
      text-transform: capitalize;
      font-size: 12px;
      margin: 10px;
      color: white;
      @media only screen and (max-width: 1800px) {
        margin: 2px;
        padding: 6px 5px;
      }
      @media only screen and (max-width: 1400px) {
        min-width: 58px;
      }
      @media only screen and (max-width: 1040px) {
        min-width: 50px;
      }
      @media only screen and (max-width: 959px) {
        min-width: 60px;
      }
      @media only screen and (max-width: 599px) {
        min-width: 70px;
      }
    }
  }
  .chart-lh {
    @media only screen and (max-width: 1800px) {
      overflow: scroll;
      width: auto !important;
    }
  }
}
.toggle-text {
  margin-top: 15px;
}
.switch.toggle-btn {
  overflow: visible;
  height: 14px;
}


.filter-type {
  width: 70%;
  @media only screen and (max-width: 1860px) {
    width: 65%;
  }
  @media only screen and (max-width: 1600px) {
    width: 60%;
  }
  @media only screen and (max-width: 1400px) {
    width: 100%;
    margin: 5px;
  }
}
.btn-group, .filter-type {
  display: inline-block;
  vertical-align: bottom;
}
.btn-group{
  margin: 0 5px;
  @media only screen and (max-width: 1400px) {
    width: 100%;
    text-align: center;
  }
}