
.chart-desc {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  .title-font {
    font-size: 10px;
  }

  .font {
    font-size: 11px;
    @media only screen and (max-width: 1400px) {
      font-size: 10px;
    }
    @media only screen and (max-width: 479px) {
      font-size: 8px;
    }
  }

  .sub-font {
    font-size: 8px;

  }

  .line-chart {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .l-chart-desc {
    width: 27%;
    float: left;
    @media only screen and (max-width: 1700px) {
      width: 30%;
    }
    @media only screen and (max-width: 1430px) {
      width: 32%;
    }
    @media only screen and (max-width: 1000px) {
      width: 32%;
    }
    @media only screen and (max-width: 479px) {
      width: 32%;
    }
  }
  .l-chart {
    width: 74%;
    float: left;
    border-left: 1px solid #bab8b8;
    margin-bottom: 3px;
    @media only screen and (max-width: 1700px) {
      width: 70%;
    }
    @media only screen and (max-width: 1430px) {
      width: 68%;
    }
    @media only screen and (max-width: 1000px) {
      width: 68%;
    }
    @media only screen and (max-width: 479px) {
      width: 66%;
    }
  }
  .l-chart-point{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    span{
      padding-left: 20px;
      @media only screen and (max-width: 1400px) {
        padding-left: 10px;
      }
      @media only screen and (max-width: 479px) {
        padding-left: 5px;
      }
    }
  }
  .c-icon {
    line-height: 55px;
  }
  .share-chart {
    padding-top: 5px;
    border-top: 1px solid #bab8b8;
    display: flex;
    flex-wrap: wrap;
  }
  .post-img img {
    border-radius: 10px;
    max-width: 100%;
  }
  .chart-cont {
    border: 1px solid #616161;
    padding: 10px;
    border-radius: 10px;
    @media only screen and (max-width: 479px) {
      padding: 5px;
    }
  }
  .chart-lh{
    @media only screen and (max-width: 1800px) {
      overflow: scroll;
      width: auto !important;
    }
  }
  .v-social{
    width: 14.1666%;
  }
  .img-item {
    padding-right: 10px;
  }
}